<!-- <div>
    <h3>Thanks for creating an account on our <b>BloodBank</b> platform </h3>
    <p>Click the below link to verify your account </p>
    <p>
        confirmation link :<a href="{{confirm_link}}">{{confirm_link}}</a>
    </p>
</div> -->

<div style="max-width: 600px; margin: 0 auto; font-family: Arial, sans-serif; background-color: #f9f9f9; padding: 20px; border-radius: 8px; border: 1px solid #ddd;">
    <h3 style="color: #333; font-size: 24px; text-align: center; margin-bottom: 20px;">Thanks for creating an account on our <b style="color: #e74c3c;">BloodBank</b> platform</h3>
    <p style="font-size: 16px; color: #555; line-height: 1.6; text-align: center;">Click the link below to verify your account:</p>
    <p style="text-align: center;margin-top: 10px;">
        <a href="{{confirm_link}}" style="text-decoration: none; background-color: #e74c3c; color: white; padding: 10px 20px; border-radius: 5px; font-size: 16px; font-weight: bold;">Verify Account</a>
    </p>
    
</div>
